﻿@model PagedList.IPagedList<Web_ecomic.Models.Comment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "AllComment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
}
<div class="left_content">
    <h2>Danh Sách Comment :</h2>

    @for (int i = 0; i < @Model.Count; i++)
    {
        <div class="tintuc">
            <div class="image">
                <img src="~/@Model[i].Url_image" alt="khong load duoc">
            </div>
            <div class="thongtin">
                <h3>@Model[i].Name</h3>
                @if(@Model[i].Sanpham != null)
                {
                    <h3>Sản phẩm : @Model[i].Sanpham.TenSanPham</h3>
                }
                @if(@Model[i].Tintuc != null)
                {
                    <h3>Tin tức : @Model[i].Tintuc.Tittle</h3>
                } 
                <p>@Model[i].Noidung</p>
                <div>
                    <a href="#" onclick="myFunction(@Model[i].ID);">Delete</a>
                </div>
            </div>
        </div>
    }
    <div id='Paging' style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("AllComment", new { page }))
    </div>
    <script type="text/javascript">
        function myFunction(value) {
            var x;

            if (confirm("Bạn có đồng ý xóa comment này không ???") == true) {
                var url = '@Url.Action("DeleteComment")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    data: { ID: value },
                    success: function (result) {
                        window.location.reload(true);
                    },
                });

            } else {
                x = "You pressed Cancel!";
            }
        }
    </script>
</div>
