﻿@model Web_ecomic.Models.TaiKhoan
@using PagedList.Mvc;
@{
    ViewBag.Title = "Chitiettaikhoan";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
    List<SelectListItem> li = new List<SelectListItem>();
    li.Add(new SelectListItem { Text = "Nam", Value = "0" });
    li.Add(new SelectListItem { Text = "Nữ", Value = "1" });
    ViewData["gioitinh"] = li;
}
<body>
    <div class="left_content">

        <div class="content_top">
            <div class="heading">
                <h3>Danh sách tài khoản</h3>
            </div>
            <div class="sort">
                @using (Html.BeginForm("Chitiettaikhoan", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Chỉnh sửa thông tin cá nhân :</legend>
                        <div>
                            @Html.HiddenFor(m => m.ID)
                            @Html.HiddenFor(m => m.Ngaydangki)
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconuse"></em>
                                Tên tài khoản:
                            </span>
                            <p>@Html.TextBoxFor(m => m.Tentaikhoan, new { @readonly = true })</p>
                            <p>@Html.ValidationMessageFor(m => m.Tentaikhoan)</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconpass"></em>
                                Pass:
                            </span>
                            <p>@Html.TextBoxFor(m => m.Matkhau, new { @readonly = true })</p>
                            <p>@Html.ValidationMessageFor(m => m.Matkhau)</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconame"></em>
                                Họ và tên:
                            </span>
                            <p>@Html.TextBoxFor(m => m.Hoten)</p>
                            <p>@Html.ValidationMessageFor(m => m.Hoten)</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconsex"></em>
                                Giới tính:
                            </span>

                            <p>@Html.DropDownListFor(m => m.Gioitinh, ViewData["gioitinh"] as List<SelectListItem>, "Please select a gender", new { style = "width:100px", @class = "dropdown1" })</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconimage"></em>
                                Ảnh đại diện:
                            </span>
                            <p>@Html.TextBoxFor(m => m.Imagedaidien, new { @id = "urlImage" })</p>
                            <p><input type="file" name="file" id="file" onchange="layurl(this.value)"></p>
                        </div>

                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf icodate"></em>
                                Ngày sinh:
                            </span>
                            <p>@Html.TextBoxFor(m => m.Namsinh, new { id = "news_date" })</p>
                            <p>@Html.ValidationMessageFor(m => m.Namsinh)</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconwrite"></em>
                                Email:
                            </span>
                            <p>@Html.TextBoxFor(m => m.Email)</p>
                            <p>@Html.ValidationMessageFor(m => m.Email)</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconsdt"></em>
                                Số điện thoại:
                            </span>
                            <p>@Html.TextBoxFor(m => m.SDT)</p>
                            <p>@Html.ValidationMessageFor(m => m.SDT)</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconame"></em>
                                Địa chỉ:
                            </span>
                            <p>@Html.TextBoxFor(m => m.Diachi)</p>
                            <p>@Html.ValidationMessageFor(m => m.Diachi)</p>
                        </div>
                        <div class="row-line">
                            <input type="checkbox" name="check" value="Admin" checked="@Model.IsAdmin" class="checkbox-inline" />
                            @Html.Label("Admin", new { @class = "control-label" })
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <input type="submit" value="chỉnh sửa" />
                            </span>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(function () {
        $("#news_date").datepicker();
    });
</script>
<script type="text/javascript">
    function layurl(url) {
        $("#urlImage").val(url);
    }
</script>
