﻿@model Web_ecomic.Models.WebModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danhsachdonhang";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="left_content">
    <table class="table">
        <tr>
            <th>
                <h1>Danh sách đơn hàng:</h1>
            </th>
            <th>

            </th>
        </tr>
    </table>

    <table class="table">
        @foreach (var item in @Model.DbPhieudathang)
        {
            <tr>
                <td>
                    @Html.Label("ID:")
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.Label("Người mua:")
                    @Html.DisplayFor(modelItem => item.Nguoimua)
                </td>
                <td>
                    @Html.Label("Ngày mua:")
                    @Html.DisplayFor(modelItem => item.Ngaymua)
                </td>
                <td>
                    @if (item.Trangthai == 1)
                    { 
                        @Html.Label("Chưa giao")
                    }
                    @if (item.Trangthai == 2)
                    { 
                        @Html.Label("Đã giao")
                    }
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Chitietphieudathang", new { id = item.ID }) |
                </td>
            </tr>
        }
    </table>
    <div id='Paging' style="text-align:center">
        Page  @(Model.DbPhieudathang.PageCount < Model.DbPhieudathang.PageNumber ? 0 : Model.DbPhieudathang.PageNumber) of  @Model.DbPhieudathang.PageCount

        @Html.PagedListPager(Model.DbPhieudathang, page => Url.Action("Danhsachdonhang", new { page }))
    </div>
</div>


