﻿@model PagedList.IPagedList<Web_ecomic.Models.Tintuc>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danhsachtintuc";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<div class="left_content">

    <h2>Danh Sách Tin Tức :</h2>
   @for (int i = 0; i < @Model.Count; i++)
    {
        <div class="tintuc">
            <div class="image">
                <img src="~/@Model[i].Imageurl" alt="khong load duoc">
            </div>
            <div class="thongtin">
                <h3>@Model[i].Tittle</h3>
                <h5>author: @Model[i].Author</h5>
                <h5>Ngay: @Model[i].Ngay</h5>
                <p>@Model[i].Noidung.Substring(0,2)</p>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = @Model[i].ID }) |
                    <a href="#" onclick="myFunction(@Model[i].ID);">Delete</a>
                </div>
            </div>
        </div>
    }
    <div id='Paging' style="text-align:center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Danhsachtintuc", new { page }))
    </div>
    <script type="text/javascript">
        function myFunction(value) {
            var x;

            if (confirm("Bạn có đồng ý xóa tin tức này không ???") == true) {
                var url = '@Url.Action("Delete")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    data: { ID: value },
                    success: function (result) {
                        window.location.reload(true);
                    },
                });

            } else {
                x = "You pressed Cancel!";
            }
        }
    </script>
</div>

