﻿@model Web_ecomic.Models.ListUser
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danhsachtaikhoan";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
}

<div class="left_content">

    <div class="content_top">
        <div class="heading">
            <h3>Danh sách tài khoản</h3>
        </div>
        <div class="sort">
            @using (@Html.BeginForm("", "", FormMethod.Post))
            {
                @Html.TextBox("Search")
                <input type="submit" value="Search" />
            }
        </div>
        <div class="clearfix"></div>
    </div>
    @for (int i = 0; i < @Model.ds_thongtintaikhoan.Count; i++)
    {
        <div class="tintuc">
            <div class="image">
                <img src="~/@Model.ds_thongtintaikhoan[i].Imagedaidien" alt="khong load duoc">
            </div>
            <div class="thongtin">
                <h3>@Model.ds_thongtintaikhoan[i].Email</h3>
                <div class="button"><span><a href="@Url.Action("Chitiettaikhoan",new { id = @Model.ds_id[i] } )" class="details">Chi tiết</a></span></div>
            </div>
        </div>
    }
    <div id='Paging' style="text-align:center">
        Page  @(Model.ds_thongtintaikhoan.PageCount < Model.ds_thongtintaikhoan.PageNumber ? 0 : Model.ds_thongtintaikhoan.PageNumber) of  @Model.ds_thongtintaikhoan.PageCount

        @Html.PagedListPager(Model.ds_thongtintaikhoan, page => Url.Action("Danhsachtaikhoan", new { page }))
    </div>
</div>

<script type="text/javascript">
    function getvalue(value) {
        var x;
        var url = '@Url.Action("Danhsachtaikhoan")';
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            data: { sapxep: value },
            success: function (result) {
                window.location.reload(true);
            },
        });
    }
</script>
