﻿@model Web_ecomic.Models.LoaiSanPham
@{
    ViewBag.Title = "Danhsachloaisanpham";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
}
<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<div class="left_content">
    @using (Html.BeginForm("Danhsachloaisanpham", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td><h3>Chỉnh sửa :</h3></td>
            </tr>
            <tr>
                @{List<SelectListItem> listItems1 = new List<SelectListItem>();
                foreach (var i in @Model.DbLoaisanpham)
                {
                    listItems1.Add(new SelectListItem
                    {
                        Text = i.TenLoai,
                        Value = i.TenLoai
                    });
                }
                listItems1[0].Selected = true;
                }
                <td>@Html.LabelFor(m => m.TenLoai)</td>
                <td>@Html.DropDownListFor(m => m.TenLoai, listItems1)</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.TenLoai)</td>
            </tr>
            <tr>
                <td><button type="submit" id="btnEdit" name="Command" value="Edit">Chỉnh sửa</button></td>
                <td><button type="submit" id="btnDelete" name="Command" value="Delete">Xóa</button></td>
            </tr>
        </table>
    }

</div>
<script type="text/javascript">
      $("#edit").click(function() {
          var form = $("form#myForm");
          form.attr("action", "@Url.Action("Chinhsualoaisanpham")");
          form.submit();
      });

      $("#validate").click(function() {
          var form = $("form#myForm");
          form.attr("action", "@Url.Action("Xoaloaisanpham")");
          form.submit();
      });
</script>
