﻿@model Web_ecomic.Models.Tintuc
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<div class="left_content">
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Chỉnh sửa :</legend>
            <div>
                @Html.Label("Tiêu đề:")
            </div>
            <div class="field1">
                @Html.TextBoxFor(m => m.Tittle)
                @Html.ValidationMessageFor(m => m.Tittle)
            </div>
            <div>
                @Html.Label("Tác giả:")
            </div>
            <div class="field1">
                @Html.TextBoxFor(m => m.Author)
                @Html.ValidationMessageFor(m => m.Author)
            </div>
            <div>
                @Html.Label("Đường dẫn hình:")
            </div>
            <div class="field1">
                @Html.TextBoxFor(m => m.Imageurl, new { @id = "urlImage" })
                <input type="file" name="file" id="file" onchange="layurl(this.value)">
            </div>
            <div>
                @Html.Label("Nội dung:")
            </div>
            <div class="field1">
                @Html.TextAreaFor(m => m.Noidung, new { @class = "ckeditor", @id = "aboutme" })
                @Html.ValidationMessageFor(m => m.Noidung)
            </div>
            <div class="field1">
                <input type="submit" value="Chỉnh sửa" />
            </div>
        </fieldset>
    }

</div>

<script type="text/javascript">
    function layurl(url)
    {
        $("#urlImage").val(url);
    }
</script>