﻿@model Web_ecomic.Models.Phanquyen
@using PagedList.Mvc;
@{
    ViewBag.Title = "Phanquyentaikhoan";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
}
@using (Html.BeginForm("Chitiettaikhoan", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @*<fieldset>
        <legend>Thêm mới Admin :</legend>
        <div class="row-line">
            <span class="ltinfouser">
                <em class="zmsprt zmiconopf iconwrite"></em>
                Email:
            </span>
            <p>@Html.TextBoxFor(m => m.Email)</p>
            <p>@Html.ValidationMessageFor(m => m.Email)</p>
        </div>
        <div class="row-line">
            <span class="ltinfouser">
                <input type="submit" value="Thêm mới" />
            </span>
        </div>
    </fieldset>*@
}


        <div class="left_content">
            <table class="table">
                <tr>
                    <th>
                        <h1>Admin</h1>
                    </th>
                    <th>

                    </th>
                </tr>
            </table>

            <table class="table">
                @foreach (var item in @Model.ds_taikhoan)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "Chitiettaikhoan", new { id = item.Id }) |
                            @Html.ActionLink("Xóa quyền Admin", "Xoaquyenadmin", new { id = item.Id })
                        </td>
                    </tr>
            }
            </table>
            <div id='Paging' style="text-align:center">
                Page  @(Model.ds_taikhoan.PageCount < Model.ds_taikhoan.PageNumber ? 0 : Model.ds_taikhoan.PageNumber) of  @Model.ds_taikhoan.PageCount

                @Html.PagedListPager(Model.ds_taikhoan, page => Url.Action("Phanquyentaikhoan", new { page }))
            </div>
        </div>

