﻿@model Web_ecomic.Models.LoaiSanPham
@{
    ViewBag.Title = "Themmoiloaisanpham";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
}
<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<div class="left_content">
    @using (Html.BeginForm("Themmoiloaisanpham", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td><h3>Thêm mới :</h3></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.TenLoai)</td>
                <td>@Html.TextBoxFor(m => m.TenLoai)</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.TenLoai)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Thêm mới" /></td>
            </tr>
        </table>
    }

</div>
