﻿@model Web_ecomic.Models.Sanpham
@{
    ViewBag.Title = "Themmoisanpham";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
}
<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<div class="left_content">
    @using (Html.BeginForm("Themmoisanpham", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td><h3>Thêm mới :</h3></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.TenSanPham)</td>
                <td>@Html.TextBoxFor(m => m.TenSanPham)</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.TenSanPham)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Giatien)</td>
                <td>@Html.TextBoxFor(m => m.Giatien)</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.Giatien)</td>
            </tr>
            <tr>
                @{List<SelectListItem> listItems1 = new List<SelectListItem>();
                  foreach(var i in @Model.DbLoaisanpham)
                  {
                      listItems1.Add(new SelectListItem
                      {
                          Text = i.TenLoai,
                          Value = i.ID.ToString()
                      });
                  }
                }
                <td>@Html.LabelFor(m => m.ID_Loai)</td>
                <td>@Html.DropDownListFor(m => m.ID_Loai, listItems1)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NSX)</td>
                <td>@Html.TextBoxFor(m => m.NSX)</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.NSX)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Soluong)</td>
                <td>@Html.TextBoxFor(m => m.Soluong, new { @type = "number" })</td>
            </tr>
            <tr>
                <td><label>Màu sắc(màu cách nhau dấu ';')</label></td>
                <td>@Html.TextBox("color")</td>
            </tr>
            
            <tr>
                <td>@Html.Label("Hình ảnh:")</td>
                <td><input type="file" name="file" id="file"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Motasanpham)</td>
                <td>@Html.TextAreaFor(m => m.Motasanpham, new { @class = "ckeditor", @id = "aboutme" })</td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.Motasanpham)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Thêm mới" /></td>
            </tr>
        </table>
    }

</div>
