﻿@model Web_ecomic.Models.Nguoinhan
@{
    Layout = null;
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
@using (Html.BeginForm("Thanhtoan","Xuli",FormMethod.Post))
{
    <ul id="tt_nn">
        <li>
            <div id="title_nn">
                <h2>Thông tin đặt hàng</h2>
            </div>
        </li>
        <li>
            <label class="form-label">Họ và Tên * :</label>
            <div class="hoten_nn">
                @Html.TextBoxFor(m=>m.Hoten)
                @Html.ValidationMessageFor(m=>m.Hoten)
            </div>
        </li>
        <li>
            <label class="form-label">SDT * :</label>
            <div class="sdt_nn">
                @Html.TextBoxFor(m=>m.SDT)
                @Html.ValidationMessageFor(m=>m.SDT)
            </div>
        </li>
        <li>
            <label class="form-label">Địa chỉ *</label>
            <div class="diachi_nn">
                @Html.TextBoxFor(m=>m.Diachi)
                @Html.ValidationMessageFor(m=>m.Diachi)
            </div>
        </li>
        <li>
            <label class="form-label">Ghi chú</label>
            <textarea name="ghichu"></textarea>
        </li>
        <li>
            <div class="form-button">
                <button type="submit" class="thanhtoan_nn">Thanh Toán</button>
            </div>
        </li>
    </ul>
}
