﻿@model List<Web_ecomic.Models.Chitietphieu>
@{
    Layout = null;
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
}

    <div class="simpleCart_items">
        @for (int i = 0; i < @Model.Count; i++)
        {
            <div class="itemContainer">
                <div class="itemname">@Model[i].Sanpham.TenSanPham</div>
                <div class="itemthumb">
                    <img src="../../@Model[i].Sanpham.Duongdanhinh" alt="img" />
                </div>
                <div class="itemQuantity">
                    <select onchange="changequantity(this.value,@i);">
                        @for (int j = 1; j <= @Model[i].Sanpham.Soluong; j++)
                        {
                            if (j == Model[i].Soluong)
                            {
                                <option value="@j" selected>@j</option>
                            }
                            else
                            {
                                <option value="@j">@j</option>
                            }
                        }
                    </select>

                </div>
                <div class="itemcolor">
                    Color :
                    <select onchange="changecolor(this.value,@i);">
                        @for (int j = 0; j < @Model[i].Sanpham.Colors.Count; j++)
                        {
                            if (Model[i].Sanpham.Colors.ToList()[j].Ten == Model[i].color)
                            {
                                <option value="@Model[i].Sanpham.Colors.ToList()[j].Ten" selected>@Model[i].Sanpham.Colors.ToList()[j].Ten</option>
                            }
                            else
                            {
                                <option value="@Model[i].Sanpham.Colors.ToList()[j].Ten">@Model[i].Sanpham.Colors.ToList()[j].Ten</option>
                            }
                        }
                    </select>
                </div>
                <div class="itemTotal">
                    VND : @Model[i].Dongia
                </div>
                <div class="itemremove">
                    <a href="javascript:;" onclick="javacript:Loaibo(@i);">Loại bỏ</a>
                </div>
            </div>
        }
        <div class="clear"></div>
        <div class="mycartinfo">
            <table>
                <tbody>
                    <tr><td class="title">Số lượng: </td><td class="numb"><span class="simpleCart_quantity">@Session["soluong"]</span></td></tr>
                    <tr><td class="title">Thành tiền: </td><td class="numb"><span class="simpleCart_total">VND&nbsp;@Session["tongtien"]</span></td></tr>
                    <tr><td class="title">Phí ship: </td><td class="numb"><span class="simpleCart_shippingCost">VND&nbsp;0.00</span></td></tr>
                    <tr><td class="title">Tổng cộng: </td><td class="numb"><span class="simpleCart_finalTotal">VND&nbsp;@Session["tongtien"]</span></td></tr>
                </tbody>
            </table>
            <div class="clear"></div>
            <div class="button_check">
                <a class="simpleCart_empty" href="javascript:;" onclick="Deleteall();" title="Xóa hết đơn hàng">Xóa hết</a>
                <a class="thanhtoan" href="javascript:;" onclick="Thanhtoanform();">Thanh toán</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

<script type="text/javascript">
    $(function () {
        $('.last').html(@Session["giohang"]);
    })
</script>
