﻿@model List<Web_ecomic.Models.Sanpham>
@{
    Layout = null;
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <!-- Custom Theme files -->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" media="all" />
    <script src="~/js/jquery.flexisel.js"></script>

    <link rel="stylesheet" href="@Url.Content("~/css/flexslider.css")" type="text/css" media="screen" />
    if (ViewBag.run != null)
    {
    <script type="text/javascript">
        $(function () {
            $("#flexiselDemo").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    }
}
<div class="course_demo">
    <ul id="flexiselDemo">
        @for (int i = 0; i < 4; i++)
        {
            <li>
                <div class="ipad text-center">
                    <a href="@Url.Action("Thongtinchitietsanpham","T2V_", @Model[i])"><img src="@Model[i].Duongdanhinh" alt="" /></a>
                    <h4>@Model[i].TenSanPham</h4>
                    <h3>$@Model[i].Giatien</h3>
                    <ul>
                        <li><i class="cart-1"></i></li>
                        <li><a class="cart" href="#">Thêm vào giỏ</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <ul>
                        <li><i class="heart"></i></li>
                        <li><a class="cart" href="#">SP yêu thích</a></li>
                    </ul>
                </div>
            </li>
        }
    </ul>
</div>