﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>BOX SHOP T2V</title>
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <!-- Custom Theme files -->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="BOX SHOP Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="@Url.Content("~/css/megamenu.css")" rel="stylesheet" type="text/css" media="all" />
    <script src="@Url.Content("~/js/megamenu.js")" type="text/javascript"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <!--Chi tiet san pham-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/etalage.css")">
    <script src="~/js/jquery.etalage.min.js"></script>
    <script src="@Url.Content("~/js/jquery.etalage.min.js")"></script>


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 800,
                source_image_height: 1000,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
    <link rel="stylesheet" href="@Url.Content("~/css/flexslider.css")" type="text/css" media="screen" />

    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.flexisel.js")"></script>

    <!-- start slider -->
    <script src="~/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!--end slider -->
    <link href="~/css/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    <script src="@Url.Content("~/js/jquery.flexisel.js")" type="text/javascript"></script>
</head>
<body>


    <!-- header-section-starts -->
    <div class="header">
        <div class="top-header">
            <div class="wrap">
                <div class="header-left">
                    <ul>
                        <li><a href="#">24/7 Chăm sóc khách hàng  </a></li> |
                        <li><a href="#"> Theo dõi đặt hàng</a></li>|
                        <li>@Html.ActionLink("Thông tin Admin", "Thongtinnhom")</li>
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Quan lí admin", "Index", "Admin")</li>
                        }
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        @Html.Partial("_LoginPartial")
                        <li>
                            <i class="cart"></i>
                            <a href="@Url.Action("Quanligiohang","T2V_")">Giỏ chứa hàng</a>
                        </li>
                        <li class="last">@Session["giohang"]</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="wrap">
            <div class="header-bottom">
                <div class="logo">
                    <a href="@Url.Action("Index")"><img src="~/images/logo.jpg" class="img-responsive" alt="" /></a>
                </div>
                <div class="search">
                    <div class="search2">
                        @using (Html.BeginForm("Timkiem", "T2V_"))
                        {
                            <input type="submit" value="">
                            <input type="text" name="search" value="Tìm kiếm Tên sản phẩm - Nhà sản xuất - Loại sản phẩm !" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'Tìm kiếm Tên sản phẩm - Nhà sản xuất - Loại sản phẩm !'; }" />
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- header-section-ends -->
    <div class="wrap">
        <div class="navigation-strip">
            <h4>Phổ biến nhất<i class="arrow"></i></h4>
            <div class="top-menu">
                <!-- start header menu -->
                @Html.Partial("Menu", Session["menu"]);
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="overlay"></div><!--overlay-->
        @if (@Session["dangki"] != null)
        {
            <div>@Html.Partial("FormDangki", @Session["dangki"])</div>
            <script type="text/javascript">
                var overlay = $('.overlay');
                var signup = $('.sign-up');
                var body = $('body');
                body.css({ 'overflow': 'hidden' });
                signup.fadeIn(500)
            </script>
        }
        else
        {
            <div>@Html.Partial("FormDangki", new Web_ecomic.Models.RegisterViewModel())</div>
        }
        @if (@Session["login"] != null)
        {
            <div>@Html.Partial("Partial_formlogin", @Session["login"])</div>
            <script type="text/javascript">
                var overlay = $('.overlay');
                var login = $('.login1');
                var body = $('body');
                body.css({ 'overflow': 'hidden' });
                login.fadeIn(500)
            </script>
        }
        else
        {
            <div>@Html.Partial("Partial_formlogin", new Web_ecomic.Models.LoginViewModel())</div>
        }
       
        @RenderBody()
        <div class="footer">
            <div class="wrap">
                <div class="contact-section">
                    <div class="col-md-4 follow text-left">
                        <h3>Truy cập </h3>
                        <p>Trang của cúng tôi qua</p>
                        <div class="social-icons">
                            <i class="twitter"></i>
                            <i class="facebook"></i>
                            <i class="googlepluse"></i>
                            <i class="pinterest"></i>
                            <i class="linkedin"></i>
                        </div>
                    </div>
                    <div class="col-md-4 subscribe text-left">
                        <h3>Theo dõi của hàng chúng tôi</h3>
                        <p>Nhận thông tin sản phẩm mới từ của hàng</p>
                        <input type="text" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                        <input type="submit" value="Subscribe">
                    </div>
                    <div class="col-md-4 help text-right">
                        <h3>Cần giúp đỡ ?</h3>
                        <p>Địa chỉ các chi nhánh của của hàng</p>
                        <a href="contact.html">Contact us</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer-middle">
                    <div class="col-md-6 different-products">
                        <ul>
                            <li class="first"> Shop </li> -
                            <li><a href=""> Di động </a></li> |
                            <li><a href=""> Laptops </a></li> |
                            <li><a href=""> Máy ảnh </a></li> |
                            <li><a href=""> SmartWatch </a></li> |
                            <li><a href=""> Phụ kiện </a></li> |
                            <li><a href=""> Tablet </a></li>
                        </ul>
                        <ul>
                            <li class="first"> Giúp đỡ </li> -
                            <li><a href=""> Tư vấn </a></li> |
                            <li><a href=""> Vận chuyển </a></li> |
                            <li><a href=""> Thanh toán </a></li> |
                            <li><a href=""> Đổi - Trả </a></li>
                        </ul>
                        <ul>
                            <li class="first"> Tài khoản
                            <li> -
                            <li><a href=""> ĐĂng nhập </a></li> |
                            <li><a href=""> Đăng kí </a></li> |
                            <li><a href=""> Sản phẩm yêu thích </a></li> |
                            <li><a href=""> Giỏ hàng </a></li>
                        </ul>
                        <ul>
                            <li class="first"> boxshop </li> -
                            <li><a href="contact.html"> contact us </a></li> |
                            <li><a href=""> about us </a></li> |
                            <li><a href=""> careers </a></li> |
                            <li><a href=""> blog </a></li> |
                            <li><a href=""> press </a></li>
                        </ul>

                    </div>
                    <div class="col-md-6 about-text text-right">
                        @Html.ActionLink("Thông tin Admin", "Thongtinnhom")
                        <p>Chúng tôi hân hạnh chào đón các bạn</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="cards text-center">
                    <img src="~/images/cards.jpg" alt="" />
                </div>
                <div class="copyright text-center">
                    <p>Phiên bản 1.0  </p>
                </div>

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <!--Login and sign up-->
    <script type="text/javascript">

        function Addcart(value) {
            var url = '@Url.Action("Addtocart","Xuli")';
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data: { ID: value },
                success: function (result) {
                    $('.last').html(result.toString());
                },
            });
        }
    </script>
</body>
</html>
