﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        <i class="user"></i>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Thongtincanhan", "T2V_", routeValues: null, htmlAttributes: new { title = "Manage" })|<a href="@Url.Action("Dangxuat","T2V_")">Đăng xuất</a>
    </li>
}
else
{
    <li>
        <i class="user"></i>
        <a href="@Url.Action("Index","T2V_")" class="sign-button">Đăng kí</a>
    </li>
    <li class="login">
        <i class="lock"></i>
        <a href="@Url.Action("Index","T2V_")" class="login-button">Đăng nhập</a>
    </li>
}
<!--Login and sign up-->
<script type="text/javascript">
    $(function () {
        var overlay = $('.overlay');
        var login = $('.login1');
        var signup = $('.sign-up');
        var body = $('body');
        $('.login-button').click(function (e) {
            e.preventDefault();
            body.css({ 'overflow': 'hidden' });
            login.fadeIn(500)
            signup.fadeOut(500, function () {
                overlay.fadeOut(500);
                body.css({ 'overflow': 'visible' });
            })

        });

        $('.sign-button').click(function (e) {
            e.preventDefault();
            body.css({ 'overflow': 'hidden' });
            signup.fadeIn(500)
            login.fadeOut(500, function () {
                overlay.fadeOut(500);
                body.css({ 'overflow': 'visible' });
            })
        });
        $('.close').click(function (e) {
            e.preventDefault();
            login.fadeOut(500, function () {
                overlay.fadeOut(500);
                body.css({ 'overflow': 'visible' });
            })

            signup.fadeOut(500, function () {
                overlay.fadeOut(500);
                body.css({ 'overflow': 'visible' });
            })

            var url = '@Url.Action("Hotrodangki_dn")';
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: {},
                success: function (result) {
                    $('.Error').html("");
                },
            });
        });
    });
</script>