﻿@model Web_ecomic.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Thaydoimatkhau";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
}

<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <!-- start span1_of_1 -->
            <div class="left_content">
                @using (Html.BeginForm("ChangePassword", "T2V_", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Change your password.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Change" />
                        </div>
                    </div>
                }
            </div>


            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li>
                            <ul class="kid-menu ">
                                <li><a href="@Url.Action("Thongtincanhan","T2V_")">Xem thông tin cá nhân</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- Modal -->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
