﻿@model Web_ecomic.Models.TaiKhoan
@{
    ViewBag.Title = "Chinhsuattcanhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> li = new List<SelectListItem>();
    li.Add(new SelectListItem { Text = "Nam", Value = "0" });
    li.Add(new SelectListItem { Text = "Nữ", Value = "1" });
    ViewData["gioitinh"] = li;
}
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <!-- start span1_of_1 -->
            <div class="left_content">
                <div class="infor">
                    @using (Html.BeginForm("Chinhsuattcanhan", "T2V_", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <legend>Chỉnh sửa thông tin cá nhân :</legend>
                            <div>
                                @Html.HiddenFor(m => m.ID)
                                @Html.HiddenFor(m => m.Ngaydangki)
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf iconuse"></em>
                                    Tên tài khoản:
                                </span>
                                <p>@Html.TextBoxFor(m => m.Tentaikhoan, new { @readonly = true })</p>
                                <p>@Html.ValidationMessageFor(m => m.Tentaikhoan)</p>
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf iconpass"></em>
                                    Pass:
                                </span>
                                <p>@Html.TextBoxFor(m => m.Matkhau, new { @readonly = true })</p>
                                <p>@Html.ValidationMessageFor(m => m.Matkhau)</p>
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf iconame"></em>
                                    Họ và tên:
                                </span>
                                <p>@Html.TextBoxFor(m => m.Hoten)</p>
                                <p>@Html.ValidationMessageFor(m=> m.Hoten)</p>
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf iconsex"></em>
                                    Giới tính:
                                </span>
                                
                                <p>@Html.DropDownListFor(m => m.Gioitinh, ViewData["gioitinh"] as List<SelectListItem>, "Please select a gender", new { style = "width:100px", @class = "dropdown1" })</p>
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf iconimage"></em>
                                    Ảnh đại diện:
                                </span>
                                <p>@Html.TextBoxFor(m => m.Imagedaidien, new { @id = "urlImage" })</p>
                                <p><input type="file" name="file" id="file" onchange="layurl(this.value)"></p>
                            </div>
         
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf icodate"></em>
                                    Ngày sinh:
                                </span>
                                <p>@Html.TextBoxFor(m => m.Namsinh, new { id = "news_date" })</p>
                                <p>@Html.ValidationMessageFor(m=>m.Namsinh)</p>
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf iconwrite"></em>
                                    Email:
                                </span>
                                <p>@Html.TextBoxFor(m => m.Email)</p>
                                <p>@Html.ValidationMessageFor(m=>m.Email)</p>
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf iconsdt"></em>
                                    Số điện thoại:
                                </span>
                                <p>@Html.TextBoxFor(m => m.SDT)</p>
                                <p>@Html.ValidationMessageFor(m=>m.SDT)</p>
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <em class="zmsprt zmiconopf iconame"></em>
                                    Địa chỉ:
                                </span>
                                <p>@Html.TextBoxFor(m => m.Diachi)</p>
                                <p>@Html.ValidationMessageFor(m=>m.Diachi)</p>
                            </div>
                            <div class="row-line">
                                <span class="ltinfouser">
                                    <input type="submit" value="chỉnh sửa" />
                                </span>
                            </div>
                        </fieldset>
                    }
                </div>
                </div>

            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li>
                            <ul class="kid-menu ">
                                <li><a href="@Url.Action("Thongtincanhan","T2V_")">Xem thông tin cá nhân</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- Modal -->
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(function () {
        $("#news_date").datepicker();
    });
</script>
<script type="text/javascript">
    function layurl(url) {
        $("#urlImage").val(url);
    }
</script>