﻿@model List<Web_ecomic.Models.Chitietphieu>
@{
    ViewBag.Title = "Chitietphieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
}

<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <div class="left_content">
                <div class="mycart">
                    <h3>Thông tin giỏ hàng</h3>
                    <div class="quanli">
                        <div class="simpleCart_items">
                            @for (int i = 0; i < @Model.Count; i++ )
                            {    
                                <div class="itemContainer">
                                    <div class="itemname"> @Model[i].Sanpham.TenSanPham</div>
                                    <div class="itemthumb">
                                        <img src="../../@Model[i].Sanpham.Duongdanhinh" alt="img" />
                                    </div>
                                    <div class="itemQuantity">
                                        Số lượng : @Model[i].Soluong

                                    </div>
                                    <div class="itemcolor">
                                        Color : @Model[i].color
                                        
                                    </div>
                                    <div class="itemTotal">
                                        VND : @Model[i].Dongia
                                    </div>
                                </div>
                            }
                            <div class="clear"></div>
                            <div class="mycartinfo">
                                <div class="button_check">
                                    <a class="simpleCart_empty" href="javascript:;" title="Xóa hết đơn hàng">Hello</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="form-tt">

                </div>
            </div>


            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">Danh sách<img class="arrow-img" src="~/images/arrow1.png" alt="" /> </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="@Url.Action("Sanphammoira","T2V_")">Mới ra </a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="kid-menu">
                                <li><a href="@Url.Action("Danhsachsanpham", new { name = "Phụ Kiện" })">Danh sách Phụ kiện </a></li>
                                <li class="menu-kid-left">@Html.ActionLink("Liên hệ chúng tôi", "Thongtinnhom")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</body>
