﻿@model Web_ecomic.Models.Tintuc
@{
    ViewBag.Title = "Chitiettintuc";
}

<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <!-- start span1_of_1 -->
            <div class="left_content">
                 <div class="tintuc">
                      <div class="imagect">
                          <img src="../../@Model.Imageurl" alt="khong load duoc">
                      </div>
                     <div class="thongtin">
                         <h3>@Model.Tittle</h3>
                         <h5>author: @Model.Author</h5>
                         <h5>Ngay: @Model.Ngay</h5>
                     </div>
                 </div>
                <div>
                    <p>@Html.Raw(@Model.Noidung)
                    </p>
                </div>
                <div>
                    <h3>Comment :</h3>
                    @Html.Partial("Comment",@ViewData["cm"], new ViewDataDictionary())
                </div>
                <div>
                    
                </div>
            </div>

            

            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">Danh sách<img class="arrow-img" src="~/images/arrow1.png" alt="" /> </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="@Url.Action("Sanphammoira","T2V_")">Mới ra </a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="kid-menu">
                                <li><a href="@Url.Action("Danhsachsanpham", new { name = "Phụ Kiện" })">Danh sách Phụ kiện </a></li>
                                <li class="menu-kid-left">@Html.ActionLink("Liên hệ chúng tôi", "Thongtinnhom")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</body>

