﻿@model Web_ecomic.Models.Comment
@{
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
<link href="~/css/Style_tintuc.css" rel="stylesheet" />
<div class="form-binhluan">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace, 
        HttpMethod = "POST",}))
    {
        <fieldset>
            @Html.HiddenFor(m => m.ID_Sanpham)
            @Html.HiddenFor(m => m.ID_loai)
            @Html.HiddenFor(m => m.Url_image)
            <div class="adaidien">
                <img src="../../@Model.Url_image" alt="Khong load duoc" />
            </div>
            <div class="commentform">
                <div>
                    @Html.Label("Name :")
                </div>
                <div class="field1">
                 @Html.TextBoxFor(m => m.Name, (@Session["read"] == "true")? new {@readonly = true} : null)
                 @Html.ValidationMessageFor(m => m.Name)
                 
                </div>
                <div>@Html.Label("Comment")</div>
                <div class="field1">
                    @Html.TextAreaFor(m => m.Noidung)
                    @Html.ValidationMessageFor(m => m.Noidung)
                </div>

                <div class="field1">
                    <input type="submit" value="Comment" onclick="javascript: Getcomment();"/>
                </div>
            </div>
            
        </fieldset>
    }
</div>
<div class="dscomment">
    @Html.Partial("Ds_Comment", @Session["dscomment"], new ViewDataDictionary())
</div>
<script type="text/javascript">

    function Getcomment() {
        var url = '@Url.Action("Comment")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: $('form').serialize(),
            success: function (result) {
                $('.dscomment').html(result.toString());
            },
        });
    }

</script>

<script type="text/javascript">

    function OnCriteria(value,value1,value2) {
        var url = '@Url.Action("phantrang")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: { istintuc : value1,ID : value2, page: value },
            success: function (result) {
                $('.dscomment').html(result.toString());
            },
        });
    }

</script>