﻿@model List<Web_ecomic.Models.Phieu>
@{
    ViewBag.Title = "Danhsachphieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
}
<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <div class="left_content">
                <div class="quanli">        
                    <div class="mycart">
                        <h3>Danh sách các hóa đơn bạn đã đặt hàng</h3>
                        <div class="simpleCart_items">
                        @for (int i = 0; i < @Model.Count; i++ )
                        {  
                            <div class="itemphieu">
                                <div class="itemthumbphieu">
                                    <a href="@Url.Action("Chitietphieu", new { IDPhieu = @Model[i].IDphieu })"><img src="~/images/cartphieu.jpg" alt="img" title="xem chi tiết" /></a>
                                </div>
                                <div class="itemnamemua">
                                    <i>Tên người Mua :</i> @Model[i].Tennguoimua
                                </div>
                                <div class="itemtongtien">
                                    Tổng tiền : @Model[i].Tongtien
                                </div>
                                <div id="itemtrangthai">
                                    @if (@Model[i].Trangthai == 1)
                                    {
                                        <i>Trạng thái : Chưa giao hàng.</i>
                                    }
                                    else
                                    {
                                        <i>Trạng thái : Đã giao hàng.</i>
                                    }
                                </div>
                                <div class="itemnamemua">
                                    <i>Tên người nhận :</i> @Model[i].Tennguoinhan
                                </div>
                                <div class="itemnamghichu">
                                    <i>Ghi chú :</i> @Model[i].Ghichu 
                                </div>
                                <div class="itemdate">
                                    Ngày mua : @Model[i].ngaymua
                                </div>
                            </div>
                        }

                            <div class="clear"></div>
                            <div class="mycartinfo">
               
                                <div class="clear"></div>
                                <div class="button_check">
                                    <a class="simpleCart_empty" href="@Url.Action("Thongtincanhan","T2V_")" title="Xóa hết đơn hàng">Xem thông tin cá nhân</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="form-tt">

                </div>
            </div>


            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">Danh sách<img class="arrow-img" src="~/images/arrow1.png" alt="" /> </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="@Url.Action("Sanphammoira","T2V_")">Mới ra </a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="kid-menu">
                                <li><a href="@Url.Action("Danhsachsanpham", new { name = "Phụ Kiện" })">Danh sách Phụ kiện </a></li>
                                <li class="menu-kid-left">@Html.ActionLink("Liên hệ chúng tôi", "Thongtinnhom")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    function changecolor(value, value1) {
        var url = '@Url.Action("Changecolor", "Xuli")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: { a: value, b: value1 },
            success: function (result) {
            },
        });
    }
    function Deleteall() {
        var url = '@Url.Action("Deleteall", "Xuli")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: {},
            success: function (result) {
                $('.quanli').html(result.toString());
                $('.last').html("0");
            },
        });
    }
    function Thanhtoanform(value) {
        var url = '@Url.Action("Formthanhtoan", "Xuli")';
        if(value == false)
        {
            var login = $('.login1');
            var signup = $('.sign-up');
            var body = $('body');
            body.css({ 'overflow': 'hidden' });
            login.fadeIn(500)
        }
        else
        {
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data: {},
                success: function (result) {
                    $('.form-tt').html(result.toString());
                },
            });
        }
    }

</script>
