﻿@model PagedList.IPagedList<Web_ecomic.Models.Tintuc>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danhsachtintuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <!-- start span1_of_1 -->
            <div class="left_content">
                @for (int i = 0; i < @Model.Count; i++ )
                {
                    <div class="tintuc">
                     <div class="image">
                         <img src="~/@Model[i].Imageurl" alt="khong load duoc">
                     </div>
                    <div class="thongtin">
                        <h3><a href="@Url.Action("Chitiettintuc", new {ID = @Model[i].ID })">@Model[i].Tittle</a></h3>
                        <h5>author: @Model[i].Author</h5>
                        <h5>Ngay: @Model[i].Ngay</h5>
                        <p>@Model[i].Noidung.Substring(0,2)</p>
                    </div>
                </div>
                }
                <div id='Paging' style="text-align:center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Danhsachtintuc", new { page }))
                </div>
            </div>

            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">Danh sách<img class="arrow-img" src="~/images/arrow1.png" alt="" /> </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="@Url.Action("Sanphammoira","T2V_")">Mới ra </a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="kid-menu">
                                <li><a href="@Url.Action("Danhsachsanpham", new { name = "Phụ Kiện" })">Danh sách Phụ kiện </a></li>
                                <li class="menu-kid-left">@Html.ActionLink("Liên hệ chúng tôi", "Thongtinnhom")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
        </div>
    <script type="text/javascript">
        function myFunction(value) {
            var x;
            
            if (confirm("Bạn có đồng ý xóa tin tức này không ???") == true) {
                var url = '@Url.Action("Delete")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    data: { ID: value },
                    success: function (result) {
                        window.location.reload(true);
                    },
                });
                
            } else {
                x = "You pressed Cancel!";
            }
        }
    </script>
</body>