﻿@model Web_ecomic.Models.WebModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danhsachsanpham";
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@Model.Loaisanpham</h3>
        </div>
        <div class="sort">
            <p>
                Sắp xếp: @Model.Sapxep
                <select id="selectBox" onchange="changeFunc(this.value);">
                    <option selected="selected"></option>
                    <option value="Giá tăng">Giá tăng</option>
                    <option value="Giá giảm">Giá giảm</option>
                    <option value="Còn hàng">Còn hàng</option>
                </select>
            </p>
        </div>
        <script type="text/javascript">

            function changeFunc(value) {
                var url = '@Url.Action("Danhsachsanpham")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    data: { sapxep: value },
                    success: function (result) {
                        window.location.reload(true);
                    },
                });
            }

       </script>
    </div>
    @for (int i = 0; i < @Model.DbSanPham.Count; i = i + 4)
    {
        <div class="section group">
            @for (int j = i; j < i + 4; j++)
            {
                if (j >= @Model.DbSanPham.Count)
                {
                    break;
                }
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="@Url.Action("Thongtinchitietsanpham", @Model.DbSanPham[j])"><img src="../../@Model.DbSanPham[j].Duongdanhinh" class="img-responsive" alt="" /></a>
                    <h3>@Model.DbSanPham[j].TenSanPham</h3>
                    <p><span class="price">@Model.DbSanPham[j].Giatien</span></p>
                    <div class="button"><span><a href="javascript:;" onclick="Addcart(@Model.DbSanPham[j].ID);" class="cart-button">Add to Cart</a></span> </div>
                    <div class="button"><span><a href="@Url.Action("Thongtinchitietsanpham", @Model.DbSanPham[j])" class="details">Details</a></span></div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    }
    <div id='Paging' style="text-align:center">
        Trang @(Model.DbSanPham.PageCount < Model.DbSanPham.PageNumber ? 0 : Model.DbSanPham.PageNumber) trên @Model.DbSanPham.PageCount

        @Html.PagedListPager(Model.DbSanPham, page => Url.Action("Danhsachsanpham", new { name = @Model.Loaisanpham, sapxep = @Model.Sapxep, page }))
    </div>
    <div class="clearfix"></div>
</div>


