﻿@model Web_ecomic.Models.Comment_List
@{
    Layout = null;
}
<link href="~/css/Style_tintuc.css" rel="stylesheet" />
<div class="show-comment">
    @for (int i = 0; i < @Model.paginglist.List_comment.Count; i++)
    {
        <div class="comment">
            <div class="image-comment">
                <img src="~/@Model.paginglist.List_comment[i].Url_image" alt="error upload" />
            </div>
            <div class="tt-comment">
                <div>
                    <h4>@Model.paginglist.List_comment[i].Name</h4>
                    <div class="ngay">@Model.paginglist.List_comment[i].NgayDang</div>
                </div>
                <p>@Model.paginglist.List_comment[i].Noidung</p>
            </div>
        </div>
    }
    <div id='Paging' style="text-align:center">
        @if (Model.paginglist.page > 1)
        {
            <a href="javascript:;" onclick="javascript:OnCriteria(@(Model.paginglist.page - 1),@Model.istintuc,@Model.ID);">Previous</a>
        }
        <p>@Model.paginglist.page/@Model.paginglist.countpage</p>
        @if (Model.paginglist.page < Model.paginglist.countpage)
        {
            <a href="javascript:;" onclick="javascript:OnCriteria(@(Model.paginglist.page + 1),@Model.istintuc,@Model.ID);">Next</a>
        }
    </div>
</div>