﻿@model Web_ecomic.Models.WebModel
@{
    ViewBag.Title = "Index";
    <link href="~/css/Style_tintuc.css" rel="stylesheet" />
    int cout = 0;
    if(@Model.DbLoaisanpham.Count <= 3)
    {
        cout = @Model.DbLoaisanpham.Count;
    }
    else
    {
        cout = 3;
    }
}
@{
    if (ViewBag.tb != null && ViewBag.tb != "loi")
    {
        <script type="text/javascript">
            alert("@ViewBag.tb");
        </script>
    }
}
<body>
    <div class="main-top">
        
        <div class="col-md-8 banner">
            <!-- start slider -->
            <!----->
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        @for (int i = 0; i < @Model.Slider.Count; i++)
                        {
                            <li><img src="@Model.Slider[i]" /></li>
                        }
                    </ul>
                </div>
            </div>
            <!----->
            <!-- end  slider -->
        </div>
        <div class="col-md-4 right-grid">
            <div class="right-grid-top">
                <div class="r-sale text-center">
                    <h6>Tuần lễ vàng</h6>
                    <h2>Sale</h2>
                </div>
                <div class="r-discount">
                    <span>thêm</span>
                    <h2>50%</h2>
                    <p>OFF</p>
                    <a href="#">Mua ngay<i class="go"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="right-grid-bottom">
                <div class="right-grid-bottom-left">
                    <h3>khuyến mãi</h3>
                    <p>Đến :10/5/2015</p>
                    <h5>Wireless Headphones</h5>
                    <h2>Giảm thêm 30%</h2>
                    <a href="single.html">Mua ngay<i class="go"></i></a>
                </div>
                <div class="right-grid-bottom-right">
                    <img src="images/headset.png" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="new-arrivals text-center">
        <div class="col-md-3 new-arrival-head">
            <h3>Tin tức mới </h3>
            <a class="btn btn-1 btn-1d" href="@Url.Action("Danhsachtintuc")">Xem tất cả</a>
        </div>
        @for (int i = 0; i < @Model.Tintucmoi.Count; i++)
        {
            <div class="col-md-3 product-item">
                <a href="@Url.Action("Chitiettintuc", new { ID = @Model.Tintucmoi[i].ID })"><img src="~/@Model.Tintucmoi[i].Imageurl" class="img-responsive" alt="" /></a>
                <h3>@Model.Tintucmoi[i].Tittle</h3>
                @Html.ActionLink("Xem ngay", "Chitiettintuc", new { ID = @Model.Tintucmoi[i].ID })<i class="go"></i>
            </div>
        }
        <div class="clearfix"></div>
    </div>


    <div class="new-arrivals text-center">
        <div class="col-md-3 new-arrival-head">
            <h3>Hàng mới </h3>
            <a class="btn btn-1 btn-1d" href="@Url.Action("Danhsachsanpham", new {name = "Điện thoại"})">Xem tất cả</a>
        </div>
        @for (int i = 0; i < @Model.sanPhamMoi.Count; i++)
        {
            <div class="col-md-3 product-item">
                <a href="@Url.Action("Thongtinchitietsanpham", @Model.sanPhamMoi[i])"><img src="../../@Model.sanPhamMoi[i].Duongdanhinh" class="img-responsive" alt="" /></a>
                <h3>@Model.sanPhamMoi[i].TenSanPham</h3>
                @Html.ActionLink("Xem ngay", "Thongtinchitietsanpham", @Model.sanPhamMoi[i])<i class="go"></i>
            </div>
        }
        <div class="clearfix"></div>
    </div>
    <div class="best-sellers">
        <div class="best-sellers-head">
            <h3>Bán chạy nhất</h3>
        </div>
        <div class="best-sellers-menu">
            <ul>              
                @for (int i = 0; i < @cout; i++)
                {
                    <li><a href="javascript:;" onclick="javascript: ChangeType(@Model.DbLoaisanpham[i].ID);">@Model.DbLoaisanpham[i].TenLoai</a></li>
                }
                <li><a>Other</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="device">
        <div class="course_demo">
            <ul id="flexiselDemo">
                @for (int i = 0; i < 4; i++)
                {
                    <li>
                        <div class="ipad text-center">
                            <a href="@Url.Action("Thongtinchitietsanpham", @Model.DSSanpham[i])"><img src="@Model.DSSanpham[i].Duongdanhinh" alt="" /></a>
                            <h4>@Model.DSSanpham[i].TenSanPham</h4>
                            <h3>$@Model.DSSanpham[i].Giatien</h3>
                            <ul>
                                <li><i class="cart-1"></i></li>
                                <li><a class="cart" href="#">Thêm vào giỏ</a></li>
                            </ul>
                            <div class="clearfix"></div>
                            <ul>
                                <li><i class="heart"></i></li>
                                <li><a class="cart" href="#">SP yêu thích</a></li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="clients">
        <div class="course_demo1">
            <ul id="flexiselDemo1">
                <li>
                    <div class="client">
                        <img src="images/l1.jpg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="client">
                        <img src="images/l2.jpg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="client">
                        <img src="images/l3.jpg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="client">
                        <img src="images/l4.jpg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="client">
                        <img src="images/l5.jpg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="client">
                        <img src="images/l6.jpg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="client">
                        <img src="images/l7.jpg" alt="" />
                    </div>
                </li>
                <li>
                    <div class="client">
                        <img src="images/l9.jpg" alt="" />
                    </div>
                </li>
            </ul>
        </div>
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 7,
                    animationSpeed: 1000,
                    autoPlay: false,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="js/jquery.flexisel.js"></script>
    </div>
    <div class="transport-grid">
        <div class="col-md-4 shipping">
            <h3><i class="shipping-icon"></i>Miễn phí vận chuyển</h3>
            <p>Chúng tôi vận chuyển an toàn ,uy tín, không hao hụt sản phẩm , và chuyển đến tận tay người mua</p>
        </div>
        <div class="col-md-4 shipping">
            <h3><i class="correct-icon"></i>100 % chính hãng</h3>
            <p>Chúng tôi cam kết luôn luôn bán hàng chính hãng </p>
        </div>
        <div class="col-md-4 return">
            <h3><i class="return-icon"></i>Miễn phí đổi trả</h3>
            <p>Vì bất cứ lí do gì bạn không thích máy của mình mà còn trong hạn đổi trả, chúng tôi xin hân hạnh đón tiếp bạn</p>
        </div>
        <div class="clearfix"></div>
    </div>
    @{if (ViewBag.tb == "loi")
    {
        <script type="text/javascript">
            $(function () {
                var login = $('.login1');
                var body = $('body');
                body.css({ 'overflow': 'hidden' });
                login.fadeIn(500)
            });
        </script>
    }
    }
</body>


<script type="text/javascript">
    function ChangeType(value)
    {
        var url = '@Url.Action("Xulidanhsachloaisanpham","Xuli")';
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            data: {Idloai : value},
            success: function (result) {
                $('.device').html(result);
            },
        });
    }
</script>
