﻿@model List<Web_ecomic.Models.Menupage>
@{
    ViewBag.Title = "Trang đăng kí ";
  Layout = null;

  }
<ul class="megamenu skyblue">
    @for (int i = 0; i < @Model.Count; i++ )
    {
        <li>
        <a class="color1" href="@Url.Action("Danhsachsanpham", new { name = @Model[i].Name })">@Model[i].Name</a>
        <div class="megapanel">
            <div class="row">
                <div class="col1">
                    <div class="h_nav">
                        <h4>Hãng sản xuất</h4>
                        <ul>
                            @for(int j = 0 ; j < @Model[i].Ds.Count ; j ++)
                            {
                                <li><a href="@Url.Action("Danhsachsanpham", new { name = @Model[i].Name,submenu = @Model[i].Ds[j].Name })">@Model[i].Ds[j].Name</a></li>
                            }
                            
                        </ul>
                    </div>
                </div>
                <div class="col3">
                    <div class="h_nav">
                        <ul>
                            <li><img src="~/images/dt3.jpg" alt="" width="300px" height="300px" /></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </li>
    }
</ul>