﻿@model Web_ecomic.Models.LoginViewModel
@{
    ViewBag.Title = "Trang đăng nhập";
    <link href="~/css/FormTaiKhoan.css" rel="stylesheet" />
}

<div>
    @using (Html.BeginForm("Dangnhap", "T2V_", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="login-header">
                <span>Đăng nhập</span>
                <a href="#" class="close">Close</a>
            </div>
            <div class="Error">
                @if (@Session["Loi"] != null)
                {
                    <p>@Session["Loi"]</p>
                }
            </div>
            <div class="login-content">
                <label for="name">Email:</label>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
                <label for="pass">Password:</label>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                <input type="submit" value="Log In" class="loginsubmit" />
                <div class="checkbox-inline">
                    <div>
                        @Html.CheckBoxFor(m => m.RememberMe) 
                        <i>Remember me ?</i>
                        <i><a href="@Url.Action("Quenmatkhau","T2V_")">Forget password</a></i>
                    </div>
                </div>
            </div>
        </fieldset>
    }
</div>