﻿@model Web_ecomic.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quenmatkhau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Quenmatkhau", "T2V_", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                    <input type="submit" value=" Tìm " />
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </fieldset>
    }
</div>
