﻿@model Web_ecomic.Models.WebModel
@{
    ViewBag.Title = "SanPham";
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Điện thoại</h3>
        </div>
        <div class="sort">
            <p>
                Sắp xếp:
                <select>
                    <option>Giá tăng</option>
                    <option>Giá giảm</option>
                    <option>Còn hàng</option>
                </select>
            </p>
        </div>
        <div class="show">
            <p>
                Hiển thị:
                <select>
                    <option>4</option>
                    <option>8</option>
                    <option>12</option>
                    <option>16</option>
                    <option>20</option>
                    <option>In Stock</option>
                </select>
            </p>
        </div>
        <div class="page-no">
            <p>
                Result Pages:<ul>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>[<a href="#"> Next>>></a>]</li>
                </ul>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
        @for(int i = 0; i < @Model.LayDanhSachTheoLoaiSanPham("Điện thoại").Count; i = i + 4)
        {
            <div class="section group">
                @for(int j = i; j < i + 4; j++)
                {
                    if (j == @Model.LayDanhSachTheoLoaiSanPham("Điện thoại").Count)
                    {
                        break;
                    }
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="#"><img src="@Model.LayDanhSachTheoLoaiSanPham("Điện thoại")[j].Linkimage" class="img-responsive" alt="" /></a>
                        <h3>@Model.LayDanhSachTheoLoaiSanPham("Điện thoại")[j].Tensanpham</h3>
                        <p><span class="price">@Model.LayDanhSachTheoLoaiSanPham("Điện thoại")[j].Giatien</span></p>
                        <div class="button"><span><a href="#" class="cart-button">Add to Cart</a></span> </div>
                        <div class="button"><span><a href="#" class="details">Details</a></span></div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        }
</div>
