﻿@model List<Web_ecomic.Models.Sanpham>
@{
    Layout = null;
}
@for (int i = 0; i < @Model.Count; i++)
{
    <div class=" chain-grid menu-chain text-center">
        <a href="@Url.Action("Thongtinchitietsanpham",@Model[i])"><img class="img-responsive chain" src="../../@Model[i].Duongdanhinh" alt=" " /></a>
        <div class="grid-chain-bottom chain-watch">
            <span class="actual dolor-left-grid">@Model[i].Giatien</span>
            <span class="reducedfrom">@( Model[i].Giatien + Model[i].Giatien * 0.1) </span>
            <h6>@Model[i].TenSanPham</h6>
        </div>
    </div>
}