﻿@model Web_ecomic.Models.TaiKhoan
@{
    ViewBag.Title = "Thongtincanhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/css/Style_tintuc.css")" rel="stylesheet" type="text/css" />
<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <!-- start span1_of_1 -->
            <div class="left_content">
                <p>@ViewBag.notify</p>
                <div class="infor">
                    <fieldset>
                        <legend>Thông tin cá nhân</legend>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconame"></em>
                                Họ và tên:
                            </span>
                            <p>@Model.Hoten</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconsex"></em>
                                Giới tính:
                            </span>
                            @if (Model.Gioitinh == "0")
                            {
                                <p>Nam</p>
                            }
                            else
                            {
                                <p>Nữ</p>
                            }
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf icodate"></em>
                                Ngày sinh:
                            </span>
                            <p>@Model.Namsinh</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconwrite"></em>
                                Email:
                            </span>
                            <p>@Model.Email</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconsdt"></em>
                                Số điện thoại:
                            </span>
                            <p>@Model.SDT</p>
                        </div>
                        <div class="row-line">
                            <span class="ltinfouser">
                                <em class="zmsprt zmiconopf iconame"></em>
                                Địa chỉ:
                            </span>
                            <p>@Model.Diachi</p>
                        </div>
                    </fieldset>
                </div>
                <div class="image-infor">
                    <img src="~/@Model.Imagedaidien" alt="không tồn tại" title="Ảnh đại diện">
                </div>
            </div>


            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li>
                            <ul class="kid-menu ">
                                <li><a href="@Url.Action("Chinhsuattcanhan")">Chỉnh sửa thông tin</a></li>
                                <li><a href="@Url.Action("ChangePassword")">Thay đổi mật khẩu</a></li>
                                <li><a href="@Url.Action("Danhsachphieu")">Xem lịch sử các đơn đặt hàng</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- Modal -->
</body>

