﻿@{
    ViewBag.Title = "Thongtinnhom";
}

<div class="wrap">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/vuong.jpg" height="300px" width="350px" />
        </div>
        <div class="col-md-4">
            <img src="~/images/viet.jpg" height="300px" width="350px" />
        </div>
        <div class="col-md-4">
            <img src="~/images/ty.jpg" height="300px" width="350px" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4> Nguyễn Trương Vương </h4>
        </div>
        <div class="col-md-4">
            <h4>Trần Văn Việt</h4>
        </div>
        <div class="col-md-4">
            <h4>Nguyễn Văn Ty </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4> MSSV : 1212526 </h4>
        </div>
        <div class="col-md-4">
            <h4>MSSV : 1212508</h4>
        </div>
        <div class="col-md-4">
            <h4>MSSV : 1212502</h4>
        </div>
    </div>
</div>
