﻿@model Web_ecomic.Models.Chitietsanpham
@{
    ViewBag.Title = "Thongtinchitietsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- start main -->
    <div class="main_bg">
        <div class="main">
            <!-- start span1_of_1 -->
            <div class="left_content">
                <div class="span_1_of_left">
                    <div class="grid images_3_of_2">
                        <ul id="etalage">
                            <li>
                                <img class="etalage_thumb_image" src="../../@Model.sanpham.Duongdanhinh" class="img-responsive" />
                                <img class="etalage_source_image" src="../../@Model.sanpham.Duongdanhinh" class="img-responsive" title="" />
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <!-- start span1_of_1 -->
                    <div class="span1_of_1_des">
                        <div class="desc1">
                            <h3>@Model.sanpham.TenSanPham</h3>
                            <p>
                                @Html.Raw(@Model.sanpham.Motasanpham)
                            </p>
                            <h5>@Model.sanpham.Giatien <a href="#">click for offer</a></h5>
                            <div class="available">
                                @using (Html.BeginForm("AddToCart", "Xuli", FormMethod.Get))
                                {
                                    <h4>Available Options :</h4>
                                    <ul>
                                        <li>
                                            Color:
                                            <select name="color">
                                                @for (int i = 0; i < @Model.sanpham.Colors.Count; i++)
                                                {
                                                    <option value="@Model.sanpham.Colors.ToList()[i].Ten">@Model.sanpham.Colors.ToList()[i].Ten</option>
                                                }
                                            </select>
                                        </li>
                                        <li>
                                            Quality:
                                            <select name="quality">
                                                <option value="0">0</option>
                                                @for (int i = 1; i <= @Model.sanpham.Soluong; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </li>
                                    </ul>
                                    <div class="btn_form">
                                        @if(@Model.sanpham.Soluong > 0)
                                        {
                                            <input class="sub_btn" type="submit" value="add to cart" title="" />
                                        }
                                        else
                                        {
                                            <input class="sub_btn" type="submit" disabled ="disabled" value="add to cart" title="" />
                                        }
                                    </div>
                                    <span class="span_right"><a href="#">welcome </a></span>
                                    <div class="clearfix"></div>
                                }
                            </div>
                            <div class="filter-by-color">
                                <h3>Filter by Color</h3>
                                <ul class="w_nav2">
                                    <li><a class="color1" href="#"></a></li>
                                    <li><a class="color2" href="#"></a></li>
                                    <li><a class="color3" href="#"></a></li>
                                    <li><a class="color4" href="#"></a></li>
                                    <li><a class="color5" href="#"></a></li>
                                    <li><a class="color10" href="#"></a></li>
                                    <li><a class="color7" href="#"></a></li>
                                    <li><a class="color8" href="#"></a></li>
                                    <li><a class="color9" href="#"></a></li>
                                    <li><a class="color10" href="#"></a></li>
                                    <li><a class="color6" href="#"></a></li>
                                    <li><a class="color13" href="#"></a></li>
                                    <li><a class="color14" href="#"></a></li>
                                    <li><a class="color15" href="#"></a></li>
                                    <li><a class="color16" href="#"></a></li>
                                    <li><a class="color17" href="#"></a></li>
                                    <li><a class="color1" href="#"></a></li>
                                    <li><a class="color3" href="#"></a></li>
                                    <li><a class="color2" href="#"></a></li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <!--Comment-->
                <div>
                    <h3>Comment :</h3>
                    @Html.Partial("Comment", @ViewData["cm"], new ViewDataDictionary())
                </div>

                <div class="device">
                    <div class="course_demo">
                        <ul id="flexiselDemo">
                            @for (int i = 0; i < @Model.Sanphamlienquan.Count; i++)
                            {
                                <li>
                                    <div class="ipad text-center">
                                        <a href="@Url.Action("Thongtinchitietsanpham", @Model.Sanphamlienquan[i])"><img src="../../@Model.Sanphamlienquan[i].Duongdanhinh" alt=" " /></a>
                                        <h4>@Model.Sanphamlienquan[i].TenSanPham</h4>
                                        <h3>VND : @Model.Sanphamlienquan[i].Giatien</h3>
                                        <ul>
                                            <li><i class="cart-1"></i></li>
                                            <li><a class="cart" href="javascript:;" onclick="Addcart(@Model.Sanphamlienquan[i].ID);">Add To Cart</a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>

            <div class="sub-cate single-subcate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">Danh sách<img class="arrow-img" src="~/images/arrow1.png" alt="" /> </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="@Url.Action("Sanphammoira","T2V_")">Mới ra </a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="kid-menu">
                                <li><a href="@Url.Action("Danhsachsanpham", new { name = "Phụ Kiện" })">Danh sách Phụ kiện </a></li>
                                <li class="menu-kid-left">@Html.ActionLink("Liên hệ chúng tôi", "Thongtinnhom")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                @if (@Session["newproduct"] != null)
                {
                    @Html.Partial("sanphamquancao", @Session["newproduct"])
                }
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</body>


